
a.btn-social-icon{
	margin-top: 20px;
	width:100%;
}
.navbar-inverse .navbar-brand {
  color: #87CEFA;
}
.navbar-inverse .navbar-nav > li > a {
  color: #87CEFA;
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/* header */
.navbar{
	background: white;
	border: none;
}

.site-header {
	padding: 130px;
	height: 200px;
}

.header-pic {
	margin: auto;
	width: 430px;
	height: 200px;
}

.site-nav-bar {
	margin-top: 60px;
}

li.nav-item{
	width: 19%;
	margin-left: 1%;
	text-align: center;
	position: relative;
	display: block;
	padding: 15px 15px;
	background-color: transparent;
	color: #87CEFA;
	border-radius: 4px;
	border: 1px solid #87CEFA;

}

@media screen and (max-width : 991px){
	li.nav-item{
		height: 72px;
	}
	.nav-item > span{
		display: inline-block;
		margin-top: 10px;
	}
}
li.nav-item:hover{
	background-color: #efefef;
}



/*overwrite*/
@media screen and (min-width: 768px){
	.navbar-nav {
	    float: none;
	}
}
