.navbar{
	background: white;
	border: none;
}
li.content-item{
	background-color: transparent;
	color: #87CEFA;
	border-radius: 4px;
	border: 1px solid #87CEFA;
	margin-top: 5px;
}
li:hover{
	background-color: white;
}
a.btn-social-icon{
	margin-top: 20px;
	width:100%;
}
.navbar-inverse .navbar-brand {
  color: #87CEFA;
}
.navbar-inverse .navbar-nav > li > a {
  color: #87CEFA;
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
