<section data-ng-controller="BlogController">
	<div><strong>Welcome back, my master ! :D</strong></div>

	<!-- Editor -->
	<div class="editor-wrapper" ng-show="!ifPreview" >
		<div>
			<span id="titleWarning" >Title:</span>
			<input type="text" ng-model="articleObj.title" class="form-control">
			<div ng-show="ifWarning" class="blog-warning">Please input a title at least, you lazy fucker!</div>
		</div>
		<div class="text-angular">
		Content:
			<div text-angular ng-model="articleObj.content"></div>
		</div>
	</div>

	<!-- Preview -->
	<div ng-show="ifPreview" class="editor-wrapper">
		<div class="preview-title" ng-bind-html="articleObj.title"></div>
		<div ng-bind-html="articleObj.content"></div>
	</div>

	<!-- Select book -->
	<div class="books-dropdown-wrapper">
		<span class="pull-left">Select a book: &nbsp;</span>
		<select class="pull-left col-xs-12 col-md-2"
						ng-model="userCountryName"
						ng-options="country for country in countries track by country"
						ng-change="loadScheduleOfCountry(userCountryName)">
	  </select>

		<!-- Create book -->
		&nbsp;
		<button uib-popover-template="'myPopoverTemplate.html'" popover-title=" :D " type="button" class="bv-btn blog-btn">Create a book</button>

	 	<script type="text/ng-template" id="myPopoverTemplate.html">
			 	<div class="form-group">
				 	<label>Book Name:</label>
				 	<input type="text" ng-model="dynamicPopover.title" class="form-control">
					<div class="">
						<span class="bv-btn popover-create-btn">Create</span>
					</div>
			 	</div>
	 	</script>
	</div>

	<!-- bottom buttons -->
	<div class="bottom-btns">
		<button type="button" class='btn btn-default' ng-click="articleObj.title?submitArticle(): noTitle()">Submit</button>
		&nbsp;&nbsp;
		<button ng-show="!ifPreview" type="button" class='btn btn-default' ng-click="articleObj.title?ifPreview = !ifPreview : noTitle()">Preview</button>
		<button ng-show="ifPreview" type="button" class='btn btn-default' ng-click="ifPreview = !ifPreview; ifWarning = false">Back</button>
	</div>
</section>
