<section data-ng-controller="BlogController">
	<div ng-if="!submitSuccess"><strong>Welcome back, my master ! :D</strong></div>
	<div ng-if="submitSuccess"><strong>Well done, my master ! :D</strong></div>
	<!-- Editor -->
	<div class="editor-wrapper" ng-show="!ifPreview && !submitSuccess" >
		<div>
			<span id="titleWarning" >Title:</span>
			<input type="text" ng-model="articleObj.title" class="form-control">
			<div ng-show="warning.ifTitleWarning" class="blog-warning">Please input a title at least, you lazy fucker!</div>
		</div>
		<div class="text-angular">
		Content:
			<div text-angular ng-model="articleObj.content"></div>
		</div>
	</div>

	<!-- Preview -->
	<div ng-show="ifPreview || submitSuccess" class="editor-wrapper">
		<div class="preview-title" ng-bind-html="articleObj.title"></div>
		<div ng-bind-html="articleObj.content"></div>
	</div>

	<!-- Select book -->
	<div ng-show="!ifPreview && !submitSuccess" class="books-dropdown-wrapper">
		<span class="pull-left">Select a book: &nbsp;</span>
		<select class="pull-left col-xs-12 col-md-2"
						ng-model="selectedBook"
						ng-options="book.name for book in books track by book._id">
	  </select>

		<!-- Create book -->
		&nbsp;
		<button uib-popover-template="'myPopoverTemplate.html'" popover-is-open="isPopoverOpen" popover-title=" :D " popover-trigger="outsideClick" type="button" class="bv-btn blog-btn">Create a book</button>

	 	<script type="text/ng-template" id="myPopoverTemplate.html">
			 	<div class="form-group">
				 	<label>Book Name:</label>
				 	<input type="text" ng-model="bookObj.name" class="form-control">
					<p ng-if="warning.ifBookWarning" class="blog-warning">Name exists or is blank :( </p>
					<div class="">
						<span class="bv-btn popover-create-btn" ng-click="createBook()">Create</span>
					</div>
			 	</div>
	 	</script>
	</div>

	<!-- bottom buttons -->
	<!-- before submit-->
	<div ng-if="!submitSuccess" class="bottom-btns">
		<span type="button" class='bv-btn' ng-click="articleObj.title?submitArticle(): noTitle()">Submit</span>
		&nbsp;&nbsp;
		<button ng-show="!ifPreview" type="button" class='bv-btn' ng-click="articleObj.title?ifPreview = !ifPreview : noTitle()">Preview</button>
		<button ng-show="ifPreview" type="button" class='bv-btn' ng-click="ifPreview = !ifPreview; warning.ifTitleWarning = false">Back</button>
	</div>
	<!-- after submit-->
	<div ng-if="submitSuccess" class="bottom-btns">
		<span type="button" class='bv-btn' ui-sref="blog">One More !</span>
		&nbsp;&nbsp;
		<button type="button" class='bv-btn' ui-sref="articles">Scibble Maker -></button>
	</div>
</section>
