<meta name="viewport" content="width=device-width" />
<section data-ng-controller="ArticlesController">
	<div class="row content-list">
		<div class="col-md-6 books-list">
			<span us-spinner="{radius:10, width:8, length: 16, color:'#87CEFA'}" spinner-on="loading.book"></span>
			<div ng-if="!loading.book" class="list-group booksList-frame">
				<li class="list-group-item book-item"  ng-repeat="book in books track by book._id" ng-class="{ selectedBook : currentBook.name == book.name}" ng-click="pickBook(book)">
					<div class="text">
						<i class="pull-right glyphicon glyphicon-chevron-right" ng-show="currentBook.name == book.name;"></i>
				    <strong>{{book.name}}</strong>
						<hr>
					</div>
				</li>
			</div>
		</div>
		<div class="col-md-6 articles-list">
			<div class="list-group">
			  <a class="list-group-item">
			    <span class="article-title">第一章</span>
					<!-- <span class="article-author">Author: BV</span> -->
					<span class="article-date">02/25/2016</span>
			  </a>
			  <a class="list-group-item">Dapibus ac facilisis in</a>
			  <a class="list-group-item">Morbi leo risus</a>
			  <a class="list-group-item">Porta ac consectetur ac</a>
			  <a class="list-group-item">Vestibulum at eros</a>
			</div>
		</div>
	</div>
</section>
