
@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}

@font-face {
   font-family: Jinzingoer;
   src: url(../font/Jinzingoer.ttf);
}

.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.big-sign {
	text-align: center;
	font-weight: bold;
	font-family: Jinzingoer;
	background: white;
	width: 60%;
	margin: auto;
	font-size: 2em;
}

.signIn-button{
	width: 100%;
	padding: 10px 10px;
	margin-top: 20px;
}

.signIn-label {
	color: #87CEFA;
	margin-bottom: 10px;
	font-weight: normal;
}
