.content-list {
  padding: 30px;
  width:100%;
  height: auto;
  background: white;
}

.books-list {
  padding: 20px;
  height: auto;
  background: white;
}

.booksList-frame {
  border-radius: none;
  box-shadow: none;
}

.book-item {
  border-style: none;
  font-size: 1.5em;
}

.text{
  padding: 10px;
}

.text:hover{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #87CEFA;
  border-radius: 5px;
}

.text > hr {
  color: #87CEFA;
  margin-top: 0px;
  margin-bottom: 15px;
}

.text > i {
  color: #87CEFA;
}

.text > .time-tag {
  color: #d6d6d6;
  font-weight: normal;
  font-size: 12px;
  margin-left: 20px
}

.articles-list {
  padding: 10px;
  height: inherit;
  background: white;
}

span.article-title {
  font-size: 1.1em;
  font-weight: bold;
  color: #87CEFA;
}

span.article-author {
  font-size: 0.9em;
  font-weight: bold;
  color: #87CEFA;
}

span.article-date {
  margin-top: 2px;
  float: right;
  font-size: 0.9em;
  font-weight: bold;
  color: #87CEFA;
}

.article-tag {
  color: #87CEFA;
  font-style: italic;
}
